EnterpriseDevCamp/Module 2/Code/Begin/Expenses WPF/Expenses.ExpenseRepository.WcfClient/Service References/WcfExpenseService/ExpenseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ExpenseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:83/ExpenseService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:83/ExpenseService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:83/ExpenseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Expenses.WcfService.ServiceCore" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IExpenseService_GetEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployee" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_GetEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_SaveEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveEmployee" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_SaveEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_GetSummaryItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSummaryItems" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_GetSummaryItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSummaryItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_GetExpenseReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExpenseReport" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_GetExpenseReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExpenseReportResponse" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_GetExpenseReportsForApproval_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExpenseReportsForApproval" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_GetExpenseReportsForApproval_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExpenseReportsForApprovalResponse" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_GetExpenseReports_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExpenseReports" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_GetExpenseReports_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExpenseReportsResponse" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_GetExpenseReportsByStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExpenseReportsByStatus" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_GetExpenseReportsByStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExpenseReportsByStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_GetCharges_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCharges" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_GetCharges_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChargesResponse" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_GetCharge_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCharge" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_GetCharge_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChargeResponse" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_GetOutstandingCharges_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOutstandingCharges" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_GetOutstandingCharges_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOutstandingChargesResponse" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_GetAmountOwedToCreditCard_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAmountOwedToCreditCard" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_GetAmountOwedToCreditCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAmountOwedToCreditCardResponse" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_GetAmountOwedToEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAmountOwedToEmployee" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_GetAmountOwedToEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAmountOwedToEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_SaveCharge_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCharge" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_SaveCharge_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveChargeResponse" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_DeleteCharge_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCharge" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_DeleteCharge_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteChargeResponse" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_SaveExpenseReport_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveExpenseReport" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_SaveExpenseReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveExpenseReportResponse" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_DeleteExpenseReport_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteExpenseReport" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_DeleteExpenseReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteExpenseReportResponse" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_ResetData_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetData" />
  </wsdl:message>
  <wsdl:message name="IExpenseService_ResetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IExpenseService">
    <wsdl:operation name="GetEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IExpenseService/GetEmployee" message="tns:IExpenseService_GetEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExpenseService/GetEmployeeResponse" message="tns:IExpenseService_GetEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IExpenseService/SaveEmployee" message="tns:IExpenseService_SaveEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExpenseService/SaveEmployeeResponse" message="tns:IExpenseService_SaveEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSummaryItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IExpenseService/GetSummaryItems" message="tns:IExpenseService_GetSummaryItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExpenseService/GetSummaryItemsResponse" message="tns:IExpenseService_GetSummaryItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExpenseReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IExpenseService/GetExpenseReport" message="tns:IExpenseService_GetExpenseReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExpenseService/GetExpenseReportResponse" message="tns:IExpenseService_GetExpenseReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExpenseReportsForApproval">
      <wsdl:input wsaw:Action="http://tempuri.org/IExpenseService/GetExpenseReportsForApproval" message="tns:IExpenseService_GetExpenseReportsForApproval_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExpenseService/GetExpenseReportsForApprovalResponse" message="tns:IExpenseService_GetExpenseReportsForApproval_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExpenseReports">
      <wsdl:input wsaw:Action="http://tempuri.org/IExpenseService/GetExpenseReports" message="tns:IExpenseService_GetExpenseReports_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExpenseService/GetExpenseReportsResponse" message="tns:IExpenseService_GetExpenseReports_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExpenseReportsByStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IExpenseService/GetExpenseReportsByStatus" message="tns:IExpenseService_GetExpenseReportsByStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExpenseService/GetExpenseReportsByStatusResponse" message="tns:IExpenseService_GetExpenseReportsByStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCharges">
      <wsdl:input wsaw:Action="http://tempuri.org/IExpenseService/GetCharges" message="tns:IExpenseService_GetCharges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExpenseService/GetChargesResponse" message="tns:IExpenseService_GetCharges_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCharge">
      <wsdl:input wsaw:Action="http://tempuri.org/IExpenseService/GetCharge" message="tns:IExpenseService_GetCharge_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExpenseService/GetChargeResponse" message="tns:IExpenseService_GetCharge_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOutstandingCharges">
      <wsdl:input wsaw:Action="http://tempuri.org/IExpenseService/GetOutstandingCharges" message="tns:IExpenseService_GetOutstandingCharges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExpenseService/GetOutstandingChargesResponse" message="tns:IExpenseService_GetOutstandingCharges_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAmountOwedToCreditCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IExpenseService/GetAmountOwedToCreditCard" message="tns:IExpenseService_GetAmountOwedToCreditCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExpenseService/GetAmountOwedToCreditCardResponse" message="tns:IExpenseService_GetAmountOwedToCreditCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAmountOwedToEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IExpenseService/GetAmountOwedToEmployee" message="tns:IExpenseService_GetAmountOwedToEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExpenseService/GetAmountOwedToEmployeeResponse" message="tns:IExpenseService_GetAmountOwedToEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCharge">
      <wsdl:input wsaw:Action="http://tempuri.org/IExpenseService/SaveCharge" message="tns:IExpenseService_SaveCharge_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExpenseService/SaveChargeResponse" message="tns:IExpenseService_SaveCharge_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCharge">
      <wsdl:input wsaw:Action="http://tempuri.org/IExpenseService/DeleteCharge" message="tns:IExpenseService_DeleteCharge_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExpenseService/DeleteChargeResponse" message="tns:IExpenseService_DeleteCharge_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveExpenseReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IExpenseService/SaveExpenseReport" message="tns:IExpenseService_SaveExpenseReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExpenseService/SaveExpenseReportResponse" message="tns:IExpenseService_SaveExpenseReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteExpenseReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IExpenseService/DeleteExpenseReport" message="tns:IExpenseService_DeleteExpenseReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExpenseService/DeleteExpenseReportResponse" message="tns:IExpenseService_DeleteExpenseReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IExpenseService/ResetData" message="tns:IExpenseService_ResetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExpenseService/ResetDataResponse" message="tns:IExpenseService_ResetData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IExpenseService" type="tns:IExpenseService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployee">
      <soap:operation soapAction="http://tempuri.org/IExpenseService/GetEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEmployee">
      <soap:operation soapAction="http://tempuri.org/IExpenseService/SaveEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSummaryItems">
      <soap:operation soapAction="http://tempuri.org/IExpenseService/GetSummaryItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExpenseReport">
      <soap:operation soapAction="http://tempuri.org/IExpenseService/GetExpenseReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExpenseReportsForApproval">
      <soap:operation soapAction="http://tempuri.org/IExpenseService/GetExpenseReportsForApproval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExpenseReports">
      <soap:operation soapAction="http://tempuri.org/IExpenseService/GetExpenseReports" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExpenseReportsByStatus">
      <soap:operation soapAction="http://tempuri.org/IExpenseService/GetExpenseReportsByStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCharges">
      <soap:operation soapAction="http://tempuri.org/IExpenseService/GetCharges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCharge">
      <soap:operation soapAction="http://tempuri.org/IExpenseService/GetCharge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutstandingCharges">
      <soap:operation soapAction="http://tempuri.org/IExpenseService/GetOutstandingCharges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAmountOwedToCreditCard">
      <soap:operation soapAction="http://tempuri.org/IExpenseService/GetAmountOwedToCreditCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAmountOwedToEmployee">
      <soap:operation soapAction="http://tempuri.org/IExpenseService/GetAmountOwedToEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCharge">
      <soap:operation soapAction="http://tempuri.org/IExpenseService/SaveCharge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCharge">
      <soap:operation soapAction="http://tempuri.org/IExpenseService/DeleteCharge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveExpenseReport">
      <soap:operation soapAction="http://tempuri.org/IExpenseService/SaveExpenseReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteExpenseReport">
      <soap:operation soapAction="http://tempuri.org/IExpenseService/DeleteExpenseReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetData">
      <soap:operation soapAction="http://tempuri.org/IExpenseService/ResetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExpenseService">
    <wsdl:port name="BasicHttpBinding_IExpenseService" binding="tns:BasicHttpBinding_IExpenseService">
      <soap:address location="http://localhost:83/ExpenseService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>