EnterpriseDevCamp/Module 3/Code/Exercice/Expenses WPF/Expenses.ExpenseRepository.WcfClient/Service References/WcfExpenseService/ExpenseService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Expenses.WcfService.ServiceCore" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Expenses.WcfService.ServiceCore" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manager" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charges" nillable="true" type="tns:ArrayOfCharge">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ExpenseReports" nillable="true" type="tns:ArrayOfExpenseReport">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="ArrayOfCharge">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Charge" nillable="true" type="tns:Charge" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCharge" nillable="true" type="tns:ArrayOfCharge" />
  <xs:complexType name="Charge">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChargeId" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
      <xs:element minOccurs="0" name="ExpenseReportId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ExpenseDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Merchant" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BilledAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="TransactionAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category" type="xs:int" />
      <xs:element minOccurs="0" name="AccountNumber" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiptRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpenseType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Charge" nillable="true" type="tns:Charge" />
  <xs:complexType name="ArrayOfExpenseReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpenseReport" nillable="true" type="tns:ExpenseReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpenseReport" nillable="true" type="tns:ArrayOfExpenseReport" />
  <xs:complexType name="ExpenseReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExpenseReportId" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Purpose" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Approver" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CostCenter" type="xs:int" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateSubmitted" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="DateResolved" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OwedToCreditCard" type="xs:decimal" />
      <xs:element minOccurs="0" name="OwedToEmployee" type="xs:decimal" />
      <xs:element minOccurs="0" name="DateSaved" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Charges" nillable="true" type="tns:ArrayOfCharge">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpenseReport" nillable="true" type="tns:ExpenseReport" />
  <xs:complexType name="ArrayOfSummaryItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SummaryItem" nillable="true" type="tns:SummaryItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSummaryItem" nillable="true" type="tns:ArrayOfSummaryItem" />
  <xs:complexType name="SummaryItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ItemType" type="tns:ItemType" />
      <xs:element minOccurs="0" name="Submitter" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SummaryItem" nillable="true" type="tns:SummaryItem" />
  <xs:simpleType name="ItemType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Charge" />
      <xs:enumeration value="SavedReport" />
      <xs:enumeration value="PendingReport" />
      <xs:enumeration value="UnresolvedReport" />
      <xs:enumeration value="ApprovedReport" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ItemType" nillable="true" type="tns:ItemType" />
  <xs:simpleType name="ExpenseReportStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Saved" />
      <xs:enumeration value="Pending" />
      <xs:enumeration value="Approved" />
      <xs:enumeration value="Canceled" />
      <xs:enumeration value="Rejected" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ExpenseReportStatus" nillable="true" type="tns:ExpenseReportStatus" />
</xs:schema>