EnterpriseDevCamp/Module 3/Code/Exercice/Expenses WPF/Expenses.ExpenseRepository.WcfClient/Service References/WcfExpenseService/ExpenseService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:83/ExpenseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Expenses.WcfService.ServiceCore" />
  <xs:element name="GetEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeAlias" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Expenses.WcfService.ServiceCore" minOccurs="0" name="GetEmployeeResult" nillable="true" type="q1:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Expenses.WcfService.ServiceCore" minOccurs="0" name="employee" nillable="true" type="q2:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveEmployeeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSummaryItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSummaryItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Expenses.WcfService.ServiceCore" minOccurs="0" name="GetSummaryItemsResult" nillable="true" type="q3:ArrayOfSummaryItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpenseReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="expenseReportId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpenseReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Expenses.WcfService.ServiceCore" minOccurs="0" name="GetExpenseReportResult" nillable="true" type="q4:ExpenseReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpenseReportsForApproval">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeAlias" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpenseReportsForApprovalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Expenses.WcfService.ServiceCore" minOccurs="0" name="GetExpenseReportsForApprovalResult" nillable="true" type="q5:ArrayOfExpenseReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpenseReports">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpenseReportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Expenses.WcfService.ServiceCore" minOccurs="0" name="GetExpenseReportsResult" nillable="true" type="q6:ArrayOfExpenseReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpenseReportsByStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Expenses.WcfService.ServiceCore" minOccurs="0" name="status" type="q7:ExpenseReportStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpenseReportsByStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Expenses.WcfService.ServiceCore" minOccurs="0" name="GetExpenseReportsByStatusResult" nillable="true" type="q8:ArrayOfExpenseReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="expenseReportId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChargesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Expenses.WcfService.ServiceCore" minOccurs="0" name="GetChargesResult" nillable="true" type="q9:ArrayOfCharge" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chargeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChargeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Expenses.WcfService.ServiceCore" minOccurs="0" name="GetChargeResult" nillable="true" type="q10:Charge" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutstandingCharges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutstandingChargesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Expenses.WcfService.ServiceCore" minOccurs="0" name="GetOutstandingChargesResult" nillable="true" type="q11:ArrayOfCharge" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmountOwedToCreditCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmountOwedToCreditCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAmountOwedToCreditCardResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmountOwedToEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmountOwedToEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAmountOwedToEmployeeResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCharge">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Expenses.WcfService.ServiceCore" minOccurs="0" name="charge" nillable="true" type="q12:Charge" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChargeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveChargeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCharge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chargeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteChargeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveExpenseReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Expenses.WcfService.ServiceCore" minOccurs="0" name="expenseReport" nillable="true" type="q13:ExpenseReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveExpenseReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveExpenseReportResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExpenseReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="expenseReportId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExpenseReportResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>